.Block {
    padding: 20px;
    border: 1px solid var(--default-color);
    background: var(--white-color);
    float:left;
    margin: 10px;
    display: block;
}

.name{
    font-size: 12px;
    line-height: 14px;
    color: var( --gray-dark-color);
}
.num{
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 49px;
    color: var(--gray-light-color);
    margin-bottom: 0;
}
.oneblock{
    padding: 28px 31px;
}
.oneblock:first-child{
    border-right:1px solid var(--gray-color);
}

.oneblock:last-child{
    border-left:1px solid var(--gray-color);
}
.green-text{
    color: var(--green-color);
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;

}
.red-text{
    color: var(--red-color);
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
}
.grey-text{
    color: var(--gray-gray-color);
    font-size: 12px;
    line-height: 14px;
    font-weight: normal;
}